{% extends "base.html" %}

{% block content %}

  <main class="container mt-5">
    <div class="row">
      <div class="col-md-4 offset-md-4">
        <div class="card">
          <h1 class="card-header text-center">Create task</h1>
          <form action="/tasks/create/" method="post" class="card-body">
            {{error}}
            {% csrf_token %}
            {{form.as_p}}
            <button class="btn btn-outline-dark" type="submit">Create</button>
          </form>
        </div>
      </div>
    </div>
  </main>

{% endblock content %}