{% extends 'base.html' %}

{% block content %}
    <main class="container mt-5">
        <section class="card">
            <h2 class="text-center display-1 card-header">Home</h2>
            <div class="card-body">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae cupiditate, iure eligendi nesciunt adipisci rerum necessitatibus hic, culpa quidem, amet tenetur unde perferendis cum quibusdam recusandae. Iste, iure? Quis, temporibus!</p>
                <div class="text-end">
                    <a class="btn btn-dark" href="/signin/">Signin</a>
                    <a class="btn btn-secondary" href="/singup/">Singup</a>
                </div>
            </div>
        </section>
    </main>    
{% endblock content %}